<!DOCTYPE html>
<html>
    <head>
        <title>RSA Test application</title>
        <style>
            textarea {
                height: 200px;
                width: 500px;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>